//
//  Home page
//

/*=== section-home ===*/
.home {
    .container {
        justify-content: space-between;
        align-items: center;
        min-height: calc(100vh - 84px);
        padding-top: 40px;
        padding-bottom: 40px;
    }
}
.home__text {
    h1 {
        margin-bottom: 28px;
        max-width: 507px;
        font-size: 6vh
    }
    span {
        font-weight: normal; 
    }
    p {
        max-width: 465px;
        margin-bottom: 71px; 
        font-size: 16px;
        color: rgba(#000, 0.57)
    }
    a {
        position: relative;
        display: inline-block;
        padding: 16px 55px;
        background-color:black;
        color:white;
        border-radius:50px;
        &::before {
            content: "";
            position: absolute; 
            top: 0; 
            left: -100%; 
            width: 150%; 
            height: 100%; 
            background-color:rgba(#fff, 0.1);
            transform: translateX(-50%) skewX(-45deg);  
        }
        &:hover::before {
            left: 50%;
            background-color:rgba(#fff, 0.2);
            transform: translateX(-50%) skewX(-45deg); 
        }
    }
}
.home__image {
    overflow-x: hidden;
    max-width: 700px;
    height: auto;
    img {
        position: relative;
        right: -100px;
        z-index: 0;
        object-fit: cover;
    }
}

@media screen and (max-width: 1025px) {
    .home {
        .container {
            flex-wrap: wrap-reverse;
            align-items: center;
            justify-content: center;
        }
        .home__text {
            text-align: center;
            h1, p {
                max-width: 100%;
            }
        }
        img {
            right: 0;
            max-width: 700px;
        }
    }     
}
/*=== /section-home ===*/


/*=== section-tips ===*/
.tips {
    .container {
        display: flex;
        flex-direction: column;
        padding-top: 40px;
        padding-bottom: 40px;
    }
} 
.tip {
    & + & {
        margin-top: 66px;
    }
    h2 {
        font-size: 38px;
        margin-bottom: 13px;
    }
    p {
        font-size: 20px;
    }
}
/*=== /section-tips ===*/


/*=== section-slider ===*/
.slider {
    .container {
        padding-top: 50px;
        padding-bottom: 50px;
    }
} 
.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow-x: hidden;
}
.slides {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.slide-wrapper {
    min-width: calc(100% / 3);
}
.slide {
    margin: 0px auto;
    min-height: 300px;
    max-width: 351px;
    img {
        height: 194px;
        margin-bottom: 15px;
        background-color: #C4C4C4;
        border-radius: 14px;
    }
    p {
        margin-bottom: 18px;
        font-size: 23px;
        font-weight: 600;
        line-height: 27px;
        letter-spacing: -0.01em;
    }
    a {
        font-size: 18px;
        font-weight: 500;
        line-height: 21px;
        letter-spacing: -0.01em;
        color: #0077FF;
    }
}

@media screen and (max-width: 1150px) {
    .slide-wrapper {
        min-width: calc(100% / 2);
    }    
}
@media screen and (max-width: 780px) {
    .slide-wrapper {
        min-width: calc(100%);
    }    
}


.slider-buttons {
    display: flex;
    justify-content: center;
    max-width: 300px;
    width: 100%;
    padding: 20px 0px;
    span {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;

        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: rgb(0, 0, 0);
        cursor: pointer;
        &::before,
        &::after {
            content: "";
            position: absolute;
            width: 10px;
            height: 3px;
            border-radius: 3px;
            background-color: white;
            transform-origin: 0 50%;
        }
        &::before {
            transform: rotate(45deg) translateY(-50%); 
        }
        &::after {
            transform: rotate(-45deg) translateY(50%); 
        }
        & ~ span {
            transform: rotate(180deg);
        }
        &.js-button_disabled {
            background-color: #E0E0E0;
            pointer-events: none;
            &::before,
            &::after {
                background-color: #737A85; 
            }
        }
    }
}

.slides-buttons {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0px auto;
    li {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #AFAFAF;
        cursor: pointer;
        & + li {
            margin-left: 5px;
        }
        &.js-button_active {
            background-color: black;
        }
    }
}
/*=== /section-slider ===*/


/*=== section-banner ===*/
.banner {
    .container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        background-color: black;
    }
} 
/*=== /section-banner ===*/


//
//  End of
//  Home page
//